body{
    background-color: rgb(144, 144, 221);
    color: cornsilk;
    font-family: arial ;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:column;
    align-items: center;
}

div{
    display:flex;
    width: 500px;
    height: 37px;
   justify-content: space-between;

}

p{
font-size: 20px;
color: darkgreen;
width: 310px;
 
}

button{
    background-color: deeppink;
    color: khaki;
    padding: 5px;
    border: none;
    border-radius: 5px;
  ;
   
}

button:hover{
    background-color: lightpink;
    transition: all 0.5s;
}




